name: Compile and Push RuleSet

on:
  workflow_dispatch:
  schedule:
  - cron: '0 * * * *' # 每1小时运行一次

jobs:
  build-and-push-ruleset:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Read Sing-Box version
      run: |
        echo "SING_BOX_VERSION=$(cat version.txt)" >> $GITHUB_ENV

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Generate JSON Configs
      run: python main.py # 运行 main.py 来生成规则的 JSON 文件

    - name: Install sing-box
      run: |
        wget https://github.com/SagerNet/sing-box/releases/download/v${{ env.SING_BOX_VERSION }}/sing-box-${{ env.SING_BOX_VERSION }}-linux-amd64.tar.gz
        tar -xzf sing-box-${{ env.SING_BOX_VERSION }}-linux-amd64.tar.gz
        echo "$PWD/sing-box-${{ env.SING_BOX_VERSION }}-linux-amd64" >> $GITHUB_PATH

    - name: Compile JSON to SRS
      run: |
        for file in $(ls *.json); do
          ./sing-box-${{ env.SING_BOX_VERSION }}-linux-amd64/sing-box rule-set compile --output "${file%.json}.srs" "$file"
        done

    - name: Commit and Push
      env:
        PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'

        mkdir ruleset
        # Move compiled .srs files and JSON files into ruleset for pushing.
        # Use a single mv and ignore errors if no files match.
        mv *.srs *.json ruleset || true
        cd ruleset

        git init
        git add .
        git commit -m "Update ruleset"
        git branch -M ruleset

        git remote add origin https://x-access-token:${PAT_TOKEN}@github.com/hunya2017/rules.git

        git push -f origin ruleset
